<!doctype html>
<html>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>{% if AppName %}{{ AppName }} :: OmniPi{% else %}OmniPi Home{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/omnipi/styles/omnipi-min.css" rel="stylesheet" type="text/css" />
	<!-- <link href="/static/omnipi/styles/omnipi.css" rel="stylesheet" type="text/css" /> -->
	{% block head_css %}{% endblock %}
	{% block head_js %}{% endblock %}
</head>

<body style="margin: 0; height: 100%;" class="en">

	<div id="op_allcontent" class="container {% block op_fluid_content %}{% endblock %}">

		<div class="navbar">
			<div class="container">
				<h1>
					<a class="brand" href="/">OmniPi</a>
					{% if AppName %}:: <a class="brand" href="/{{ appname }}">{{ AppName }}</a>{% endif %}
				</h1>
				<div id="" style="position:absolute; right:0; top:0; font-size:1.2em">
					{{ pagename }}
					{% if settings %}<a href="settings"><div id="op_settings">Settings</div></a>{% endif %}
				</div>
			</div>
		</div>

		<div class="op_menu op_effect_slide" id="op_main_menu">
			<h2 class="icon icon-lab">Sidebar</h2>
			<ul>
				<li><a class="icon icon-data" href="#">Data Management</a></li>
				<li><a class="icon icon-location" href="#">Location</a></li>
				<li><a class="icon icon-study" href="#">Study</a></li>
				<li><a class="icon icon-photo" href="#">Collections</a></li>
				<li><a class="icon icon-wallet" href="#">Credits</a></li>
			</ul>
		</div>

		<div id="op_maincontent" class="container">

			<div class="op_wrapcontent">

				{% block maincontent %}<h1>Define your primary content in the extending template for inclusion here.{% endblock %}

			</div><!-- op_wrapcontent -->

		</div><!-- op_maincontent -->

	</div> <!-- container -->

{% block footer_js %}<script type="text/javascript" src="/static/omnipi/scripts/omnipi.js"></script>{% endblock %}
</body>
</html>