@media  screen and (max-width: @break1) {
  #op_maincontent {
    /*font-size: 0.72em;*/
    position: absolute;
    width: 100%;
    left: 0;

    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;

    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
  }
}
@media screen and (min-width: @break2) {
  #op_maincontent {
    margin-left: 16em;
  }
}

#op_maincontent.menu {
  left: 200px;
}



@media screen and (min-width: @break1) {
  #op_allcontent {
    margin: 0 1em;
  }
}

@media screen and (min-width: @break1) {
  #op_allcontent.fluid {
    width: auto;
    margin: 0 10px;
  }
}

@media screen and (min-width: @break1) {
  #op_allcontent #op_maincontent {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: @break2) {
  #op_allcontent #op_maincontent {
    width: 950px;
    margin: 0 auto;
  }
}

@media screen and (min-width: @break1) {
  #op_allcontent.fluid #op_maincontent {
    width: 100%;
    margin: 0 auto;
  }
}





@media screen and (min-width: 401px) and (max-width: 768px) {
  #op_main_menu {
    position: absolute;
    top: 2em;
    z-index: 10;
    display: none;
    background-color: white;
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  #op_main_menu.menu {
    display: block;
  }
}



/*  GRID  */
@media screen and (min-width: 769px) {
  .span1 {
    width: @grid-cell-width;
    margin: 0 @grid-cell-margin 0 0;
  }
  #op_allcontent.fluid .span1 {
    width: 5.263157%;     /* 5 / 95 */
    margin: 0 1.052631% 0 0;  /* 1 / 95 */
  }

  .span2 {
    width: @grid-cell-width * 2 + @grid-cell-margin;
    margin: 0 @grid-cell-margin 0 0;
  }
  #op_allcontent.fluid .span2 {
    width: 11.578947%;     /* 5 / 95 */
    margin: 0 1.052631% 0 0;  /* 1 / 95 */
  }

  .span3 {
    width: 170px;
    margin: 0 10px 0 0;
  }
  #op_allcontent.fluid .span3 {
    width: 17.894736%;     /* 5 / 95 */
    margin: 0 1.052631% 0 0;  /* 1 / 95 */
  }

  .span4 {
    width: 230px;
    margin: 0 10px 0 0;
  }

  .span5 {
    width: 290px;
    margin: 0 10px 0 0;
  }

  .span6 {
    width: 350px;
    margin: 0 10px 0 0;
  }

  .span7 {
    width: 410px;
    margin: 0 10px 0 0;
  }

  .span8 {
    width: 470px;
    margin: 0 10px 0 0;
  }

  .span9 {
    width: 530px;
    margin: 0 10px 0 0;
  }

  .span10 {
    width: 590px;
    margin: 0 10px 0 0;
  }

  .span11 {
    width: 650px;
    margin: 0 10px 0 0;
  }

  .span12 {
    width: 710px;
    margin: 0 10px 0 0;
  }

  .span13 {
    width: 770px;
    margin: 0 10px 0 0;
  }

  .span14 {
    width: 830px;
    margin: 0 10px 0 0;
  }

  .span15 {
    width: 890px;
    margin: 0 10px 0 0;
  }

  .span16 {
    width: 950px;
    margin: 0;
  }


  .right, #op_allcontent.fluid .right {
    margin-right: 0;
  }
  .op_wrapcontent .right.fly {
    float: right;
  }

  #op_allcontent.fluid .span14 {
    width: 87.368421%;     /* 5 / 95 */
    margin: 0 1.052631% 0 0;  /* 1 / 95 */
  }


  .row .span1, .op_wrapcontent .span1,
  .row .span2, .op_wrapcontent .span2,
  .row .span3, .op_wrapcontent .span3,
  .row .span4, .op_wrapcontent .span4,
  .row .span5, .op_wrapcontent .span5,
  .row .span6, .op_wrapcontent .span6,
  .row .span7, .op_wrapcontent .span7,
  .row .span8, .op_wrapcontent .span8,
  .row .span9, .op_wrapcontent .span9,
  .row .span10, .op_wrapcontent .span10,
  .row .span11, .op_wrapcontent .span11,
  .row .span12, .op_wrapcontent .span12,
  .row .span13, .op_wrapcontent .span13,
  .row .span14, .op_wrapcontent .span14,
  .row .span15, .op_wrapcontent .span15,
  .row .span16, .op_wrapcontent .span16
  {
    float: left;
  }
}