@charset 'utf-8';

/* ######################

BUTTONs, BUTTON BARs and BUTTON SETs

###################### */
button {
  font-family: 'Open Sans', Verdana, arial, 'sans-serif'       !important;
}

@media screen and (min-width: 769px) {
  .button-bar {
    display: block;
    float: none !important;
  }
}
.button-bar:after {
  content: '';
  clear: both;
  display: block;
}

.button-set {
  float: left;
  margin-right: 1em;
}
@media screen and (min-width: 769px) {
  .button-set {
    float: none;
    margin: 0;
  }
}

.button-set.secondary {
  float: right;
  margin-right: 0;
  margin-left: 0;
}
@media screen and (min-width: 769px) {
  .button-set.secondary {
    float: none;
    margin: 0 0 1em;
  }
}

.button-bar .button-set .button,
.button-bar .button-set button {
  border-radius: 0;
  /* border-top: 1px solid #65A;
  border-bottom: 1px solid #65A;
  border-left: 1px solid #65A;
  border-right: 0;
  */
  border: 0;
  margin: 0 0.5em 0 0;
  padding: 0.4em;
  width: 6em;
  color: white;
  background-color: rgb(127, 63, 255);
  /* font-weight: bold; */
  font-size: 100%;
}
@media screen and (min-width: 769px) {
  .button-bar .button-set .button,
  .button-bar .button-set button {
    /* width: 100%; */
    width: 2*@grid-cell-width;
    height: @grid-cell-width;
  }
}

.button-bar .button-set.secondary .button,
.button-bar .button-set.secondary button {
  margin: 0 0 0 0.5em;
}
@media screen and (min-width: 769px) {
  .button-bar .button-set.secondary .button,
  .button-bar .button-set.secondary button {
    width: 100%;
  }
}





/* gradient fill of the button */
.zbutton-bar .button-set button {
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50,50,50,0.8)), to(rgba(80,80,80,0.2)), color-stop(.5,#333333));
  background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 95%);
  background-image: linear-gradien(to bottom, blue, white);
 */
}

.button-bar .button-set .button:active,
.button-bar .button-set button:active {
  background-color: @colour-hilite;
}

.button-bar .button-set .button:hover,
.button-bar .button-set button:hover {
  background-color: @colour-main;
}

.button-bar .button-set button:first-child {
  margin-left: 0;
}

.zbutton-bar .button-set button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #65A;
}

li.button {
  display: inline-block;
}