/* ######################

GRIDs and CONTAINERs

###################### */


.container-grid {
	width: 100%;
}




.row:after, .op_wrapcontent:after
{
  content: '';
  height: 1em;
}

#btn_menu {
    display: none;
}



/* ######################

Header

###################### */





/* ######################

Main content area

###################### */



/* ######################

Main content area

###################### */



/* ######################

BUTTONs, BUTTON BARs and BUTTON SETs

###################### */



/* ######################

OP-LIST-ONE style one of lists

###################### */

