.op_form {

}
.op_form li {
	margin-bottom: 1.6em;
}
/*
.op_form li h3 {
	width: 200px;
	float: left;
}
.op_form li .values,
.op_form li p {
	width: 400px;
	float: left;
} */

.op_form li label {
	margin-bottom: 0.4em;
}
.op_form li label.stack {
	display: block;
}

/*
general styles for form elements
*/
.op_form li input {
	font-size: 1.2em;
}
.op_form li input[type=text],
.op_form li input[type=password],
.op_form li textarea {
	padding: 2px 4px;
	border: 1px solid #CCC;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
}
.op_form li input[type=text]:focus,
.op_form li input[type=password]:focus,
.op_form li textarea:focus {
	border: 1px solid #66AFE9;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.op_form li textarea {
	height: 10em;
}


.op_form li .help {
	float: left;
	width: 300px;
	color: #666;
	margin-left: 20px;
}

.op_form button {
	width: 100px;
	padding: 0.4em;
	margin: 0 0.6em 0 0;
	font-size: 1.2em;
	font-weight: bold;
	border: medium none;
	border-radius: 5px;
}
.op_form button.save {
	background-color: rgb(32, 160, 32);
	color: white;
}
.op_form button.cancel {
	background-color: rgb(160, 32, 32);
	color: white;
}
